<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout">

<section layout:fragment="conteudo">
	<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Cadastro
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Coloque seu nome">
					<input class="input100" type="text" name="username" placeholder="Nome ou email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Coloque sua senha">
					<input class="input100" type="password" name="pass" placeholder="Sua senha">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Confirme sua senha">
					<input class="input100" type="password" name="pass2" placeholder="Confirme a sua senha">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn mb-3">
						Cadastrar
					</button>
				</div>


				<div class="text-center">
					<a href="/entrar" >
						<i class="fas fa-sign-in-alt fa-2x"></i> <h5>Logar</h5>
					</a>
				</div>
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
</section>
</html>