<!DOCTYPE HTML>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf-extras-springsecurity5"
	layout:decorate="Padrao">

<section layout:fragment="conteudo">
<div class="card mb-3">
  <img class="card-img-top" src="/images/bg-01.jpg/100px180/" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Título do card</h5>
    <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
    <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
  </div>
</div>
</section>
</html>