<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf-extras-springsecurity4"
	layout:decorate="Padrao">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="../fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">

</head>

<section layout:fragment="conteudo">

	<div class="container-fluid" th:object="${evento}">
		<div class="logo text-center card-header ">
			<h2>Bem-vindo user</h2>
		</div>
		<div class="card m-5 pt-2 pb-2 pl-4">
			<div class="card-body" th:each="events:${events}">


				<h5 class="text-center" th:text="${events.nomeEvento}"></h5>
				<h5 class="text-center" th:text="${events.capacidade}"></h5>
				<h5 class="text-center" th:text="${events.valor}"></h5>



				<button class="btn btn-primary" type="submit">Comprar</button>

			</div>
			<!-- end slider -->
		</div>

		<div class="card m-5 pt-2 pb-2 pl-4">
			<div class="card-body form-group row">
				<i class="fas fa-drum fa-10x col-sm-5"></i>
				<div class="from-group row col-sm-5">
					<div class="span12">
						<div class="text-center">

							<p>
								<strong>Show de Samba</strong> <br> Preço do Ingresso R$
								200,00 <br> Data: 20/02/2020<br> Local: Allianz Arena<br>
								Ingressos Restantes:
							</p>
							<form>
								<button class="btn btn-primary" type="submit">Comprar</button>
							</form>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
			<!-- spacer section -->
		</div>


	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/btn.js"></script>


</section>
</html>
