<!DOCTYPE HTML>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf-extras-springsecurity4"
	layout:decorate="Padrao">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="../fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">

</head>

<section layout:fragment="conteudo">

	<div class="container-fluid"></div>
			<div class="logo text-center ">
				<h2>Bem-vindo user</h2>
			</div>
			<div class="card m-5 pt-2 pb-2 pl-4">
				<div class="card-body form-group row">
				<i class="fas fa-bolt fa-10x col-sm-5"></i>
				<div class="from-group row col-sm-5">
					<div class="span12">
						<div class="text-center">
							
									<p>
										<strong>Show do Astrix</strong> <br>
										Preço do Ingresso R$ 200,00 <br>
										Data: 20/02/2020<br>
										Local: Allianz Arena<br>
										Ingressos Restantes: 
									</p>
									<button class="btn btn-primary" type="submit">Comprar</button>
									
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
			
		</div>
		<div class="card m-5 pt-2 pb-2 pl-4">
				<div class="card-body form-group row">
				<i class="fas fa-drum fa-10x col-sm-5"></i>
				<div class="from-group row col-sm-5">
					<div class="span12">
						<div class="text-center">
							
									<p>
										<strong>Show de Samba</strong> <br>
										Preço do Ingresso R$ 200,00 <br>
										Data: 20/02/2020<br>
										Local: Allianz Arena<br>
										Ingressos Restantes: 
									</p>
									<form>
									<button class="btn btn-primary" type="submit">Comprar</button>
									</form>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
	<!-- spacer section -->
	</div>
					
						
	
	
	<script src="js/bootstrap.min.js"></script>


</section>
</html>
